body{
    padding-top: 0px;
}

.navbar-nav {
    margin: 15px;
}

.navbar-inverse .navbar-nav li a {
    color: #e8e8e8;
    font-weight: bolder;

}
.navbar-inverse .navbar-nav li a:hover{
    color: #000000;

}
#header{
    background: #1a2a6c;
    background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
    background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
    transition: .7s;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

#header:hover{
    background: #1a2a6c;
    background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f);
    background: linear-gradient(to right, #fdbb2d, #b21f1f);
    transition-delay: 0.5s;
}

#but{
    margin: 20px;
}

#h2{
    margin-top: 20px;
}
.cool-link{
    color: #333;
}

.form-main{
min-width: 350px;
border: 2px solid #9b9b9b;
border-radius: 20px;
}
.icon-bar{
width: 30px;
height: 3px;
background: #000;
}

.cool-link:hover
{
    width: 100%;
    transition: width .3s;
}


#loginForm{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.form-actions{
    text-align: center;
}

.ButtonImg{
    width: 100px;
    height: 100px;
}

.choiceBut{
    background: transparent;
    border: none;
}

.choiceBut:hover{
    opacity: 0.8;
    transition: .5s;
}

.choiceBut:focus{
    outline: none;
}

.game_field{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.buttons{
    width: 37%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.linkImg{
    width: 60px;
    margin-left: 15px;
    margin-right: 20px;
    border: rgba(0,0,0,.15)solid 1px;
    border-radius: 60px;
}

.log_block {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#winner{
    font-size: 18px;
}


.player{
    font-size: 25px;
    font-weight: bold;
}

.players{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    text-align: center;
}

#winblock{
    position: fixed;
    top: 20%;
    left: 50% ;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#vs{
    color: #000000;
    font-size: 35px;
    font-weight: bold;
}

.text_field, input[type="text"], input[type="password"]{
    padding: 10px;
    font-size: 14px;
        outline: none;
      background-color: transparent;
      border: 1px solid #ca0700;
      line-height: 0;
      width: 100%;
      min-width: 200px;
      display: block;
      box-sizing: border-box;
      border-radius: 20px;
      color: #ca0700;
      font-weight: 100;
      letter-spacing: 0.01em;
      z-index: 1;
    text-align: center;

}

.text_field::placeholder,input[type="text"]::placeholder, input[type="password"]::placeholder{
    font-size: 11px;
}

.game-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    vertical-align: center;
    text-align: center;
}

#room-name-submit{
    margin-left: -20px;
    background: #12005e;
    border: none;
    color: #fff;
    border-radius: 20px;
    width: 90px;
    z-index: 10;
     vertical-align: center;
    text-align: center;
}

#random-game{
    margin-left: 20px;
    font-size: 15px;
    background: transparent;
    border: none;
    color: #1d0085;
    border-radius: 20px;
    z-index: 10;
    transition: .5s;
    width: 140px;
    vertical-align: center;
    text-align: center;
    margin: 10px;
}

#random-game:hover{
    background: rgb(68, 44, 173);

    color: #ffffff;
    transition: .5s;
}

#random-game:focus, #room-name-submit:focus{
    outline: none;
}

#or_text{
    margin: 10px;
    margin-left: 30px;
    font-size: 20px;
    font-weight: bold;
    vertical-align: center;
    text-align: center;

}
#games{
    margin: 20px;
   margin-left: auto;
    margin-right: auto;
}

.table_text{
    font-size: 14px;
    font-weight: bold;
    margin-top: 25px;
}

.table_button{
    margin-left: 20px;
    font-size: 14px;
    font-weight: bold;
    background: transparent;
    border: none;
    padding: 4px;
    color: #46439c;
    border-radius: 60px;
    transition: .3s;
    width: 80px ;
    height: 40px;
    margin: 5px;

}

.table_button:hover{
    border: #46439c solid 2px;
    transition: .3s;
    background: rgba(70,67,157,0.1);
}

.table_container{
    width: 100%;
}

#av_text{
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#access{
    font-size: 12px;
    margin-top: 5px;
    margin-left: 4px;
    color: #c70801;
    text-align: center;
}

.vs_table{
    color: #000000;
}

.win{
    color: #007c1f;
}

.lose{
    color: #c70801;
}

.rating{
    color: #040086;
}

.mygames td{
    padding: 5px 15px;
}

.statistic{
    margin-left: auto;
    margin-right: auto;
}

.statistic th, tr{
    text-align: center;
}

.statistic td {
    padding: 5px 15px;
}

.statistic p{
    margin: 10px;
}

.statistic th label{
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}


.statistic:focus{
    outline: none;
}


.mystats{
    margin: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mystats p{
    margin: 0px 20px;
}

.stats{
    margin: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; 
}
.stats p{
    margin: 0px 20px;
}


.btn-primary, .btn, input[type="button"]{
    background-color: #3a08f1;
    color: #ffffff;
    border: none;
    border-radius: 7px;
    margin-top: 15px;
}

.btn-primary:hover, .btn:hover{
    background-color: #1a0468;
    color: #ffffff;
    transition: .3s;
}
